---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.pagination {
    list-style-type: none;
    font-size: 0.9em;
    padding-left: 0;
    li {
        position: relative;
        float: left;
        padding: 6px 12px;
    }
}

.clearfix {
    display: inline-block;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.cf {
    *zoom: 1;
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//colors
$color_submarine_approx: #bcc5c8;
$color_nevada_approx: #5e6d74;

.tags {
    padding: 0;
    list-style-type: none;
    font-size: 0.8em;
    li {
        float: left;
        margin: 0 7px;
        a {
            padding: 1px 12px 2px;
            color: $color_submarine_approx;
            &:hover {
                color: $color_nevada_approx;
            }
        }
    }
}
.post-tags {
    margin: 20px 0 0;
}

//colors
$color_mountain_mist_approx: #999;

//fonts
$font_0: Titillium Web;
$font_1: monospace;

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    padding-left: 0;
    li {
        line-height: 1.4em;
    }
    .date {
        color: $color_mountain_mist_approx;
        font-family: $font_0, $font_1;
        font-size: 90%;
        margin-right: 0.5em;
    }
}